
/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
}

/*Fonts*/
@font-face {
    font-family: 'korean';
    src: url('../font/Korean.ttf') format('truetype');
}

/*Mise en place des variables*/
:root{
    --fond-gris:#ccc;
    --orange-LBB:rgb(238, 155, 0);
}
.invisible{
    opacity: 0;
}
table{
    border-collapse: collapse;
}

.nordgauchebas{
    border-top: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);
    border-left: 2px solid var(--orange-LBB);
}
.droitegauchebas{
    border-right: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);
    border-left: 2px solid var(--orange-LBB);
}
.droitenordbas{
    border-right: 2px solid var(--orange-LBB);
    border-top: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);
}
.droitenordgauche{
    border-right: 2px solid var(--orange-LBB);
    border-top: 2px solid var(--orange-LBB);
    border-left: 2px solid var(--orange-LBB);
}
.nordgauche{
    border-top: 2px solid var(--orange-LBB);
    border-left: 2px solid var(--orange-LBB);
}
.norddroite{
    border-top: 2px solid var(--orange-LBB);
    border-right: 2px solid var(--orange-LBB);
}
.nordbas{
    border-top: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);
}
.gauchebas{
    border-left: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);
}
.gauchenord{
    border-left: 2px solid var(--orange-LBB);
    border-top: 2px solid var(--orange-LBB);
}
.gauchedroite{
    border-left: 2px solid var(--orange-LBB);
    border-right: 2px solid var(--orange-LBB);
}
.basdroite{
    border-bottom: 2px solid var(--orange-LBB);
    border-right: 2px solid var(--orange-LBB);
}
.gauche{
    border-left: 2px solid var(--orange-LBB);
}
.droite{
    border-right: 2px solid var(--orange-LBB);
}
.bas{
    border-bottom: 2px solid var(--orange-LBB);
}
.nord{
    border-top: 2px solid var(--orange-LBB);
}

.case {
    height: 6vw;
    width: 6vw;
    text-align: center;
    font-family: Korean, serif;
    font-size: 3vw;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.r {
    background-color: red;
}

.g {
    background-color: green;
}

.p {
    background-color: purple;
}

.b {
    background-color: blue;
}

.y {
    background-color: yellow;
}

#r2 {
    background-color: red;
}
