/*Reset CSS*/

* {
    margin: 0px;
    padding: 0px;
}


/*Fonts*/

@font-face {
    font-family: 'korean';
    src: url('../font/Korean.ttf') format('truetype');
}

@font-face {
    font-family: 'futureLight';
    src: url('../font/rounded.ttf') format('truetype');
}

@font-face {
    font-family: 'pencriture';
    src: url('../font/deezit-chains.ttf') format('truetype');
}


/*Mise en place des variables*/

:root {
    --fond-gris: #ccc;
    --orange-LBB: rgb(238, 155, 0);
}

.invisible {
    opacity: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.nordgauchebas {
    /*border-top: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);
    border-left: 2px solid var(--orange-LBB);*/
    border-radius: 1vw 0 0 1vw;
}

.droitegauchebas {
    /*border-right: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);
    border-left: 2px solid var(--orange-LBB);*/
    border-radius: 0 0 1vw 1vw;
}

.droitenordbas {
    /*border-right: 2px solid var(--orange-LBB);
    border-top: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);*/
    border-radius: 0 1vw 1vw 0;
}

.droitenordgauche {
    /*border-right: 2px solid var(--orange-LBB);
    border-top: 2px solid var(--orange-LBB);
    border-left: 2px solid var(--orange-LBB);*/
    border-radius: 1vw 1vw 0 0;
}

.nordgauche {
    /*border-top: 2px solid var(--orange-LBB);
    border-left: 2px solid var(--orange-LBB);*/
    border-radius: 1vw 0 0 0;
}

.norddroite {
    /*border-top: 2px solid var(--orange-LBB);
    border-right: 2px solid var(--orange-LBB);*/
    border-radius: 0 1vw 0 0;
}

.nordbas {
    /*border-top: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);*/
}

.gauchebas {
    /*border-left: 2px solid var(--orange-LBB);
    border-bottom: 2px solid var(--orange-LBB);*/
    border-radius: 0 0 0 1vw;
}

.gauchenord {
    /*border-left: 2px solid var(--orange-LBB);
    border-top: 2px solid var(--orange-LBB);*/
    border-radius: 1vw 0 0 0;
}

.gauchedroite {
    /*border-left: 2px solid var(--orange-LBB);
    border-right: 2px solid var(--orange-LBB);*/
}

.basdroite {
    /*border-bottom: 2px solid var(--orange-LBB);
    border-right: 2px solid var(--orange-LBB);*/
    border-radius: 0 0 1vw 0;
}

.gauche {
    /*border-left: 2px solid var(--orange-LBB);*/
}

.droite {
    /*border-right: 2px solid var(--orange-LBB);*/
}

.bas {
    /*border-bottom: 2px solid var(--orange-LBB);*/
}

.nord {
    /*border-top: 2px solid var(--orange-LBB);*/
}

.game {
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
}

.case {
    height: 10%;
    width: 10%;
    text-align: center;
    font-family: Korean, serif;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e3e3e3;
}

.letter {
    height: 10%;
    width: 10%;
    text-align: center;
    font-family: pencriture, serif;
    font-size: 5vh;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.r {
    height: 10%;
    width: 10%;
    background-color: red;
}

.g {
    height: 10%;
    width: 10%;
    background-color: green;
}

.p {
    height: 10%;
    width: 10%;
    background-color: purple;
}

.b {
    height: 10%;
    width: 10%;
    background-color: blue;
}

.y {
    height: 10%;
    width: 10%;
    background-color: yellow;
}

.invisible {
    height: 10%;
    width: 10%;
}