.mode{
    float: left;
    text-align: center;
    text-decoration: inherit;
    font-family: Ezcriture,Serif;
    font-size: 2.4vw;
    color:white;
    background-color: darkgrey;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    border-radius: 0.5vw;
    width: 49.5%;
    height: 61vh;
    padding-top: 10vw;
    padding-bottom: 0.5vw;
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .1.5s ease-in;
}
.mode:hover {
    background-color: dimgrey;
}
.mode2{
    float: right;
    text-align: center;
    text-decoration: inherit;
    font-family: Ezcriture,Serif;
    font-size: 2.4vw;
    color:white;
    background-color: darkgrey;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    border-radius: 0.5vw;
    width: 49.5%;
    height: 61vh;
    padding-top: 10vw;
    padding-bottom: 0.5vw;
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .1.5s ease-in;
}
.mode2:hover{
    background-color: dimgrey;
}
.but {
    padding: 2vh 2vh;
    display: block;
    grid-template-rows: 8vw 8vw;
    align-items: center;
    justify-items: center;
    gap: 1vw;
}


img {
    display: block;
    position: relative;
    height: 20vw;
    width: auto;
    text-align: center;
    user-select: none;
    margin-top: 2.9vw;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#clock {
    margin-top:0.3vw;
    height: 21vw;
}