@font-face {
    font-family: 'asa';
    src: url('../font/almostseriousaccent.ttf') format('truetype');
}

body{
    background-color: #3f3f3f;
}
tr{
    text-align: center;
}
td {
    text-align: center;
    color: white;
}

th{
    text-align: center;
    padding: 0vw 1vw ;
    background: #F0E8DA;
}
.active{font-weight: bold}
.rank1{color:gold}
.rank2{color: silver;}
.rank3{color: orange}

div h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 1vw;
    font-size: 2.5vw;
    color: white;
    font-family: asa, serif;

}

h4{text-align: center;
    font-weight: lighter;
    font-size: 1.5vw;
    color: white;
    font-family: asa, serif;
}
table, th, td{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: asa, serif;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border-radius: 2vw 2vw 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(223,223,223,.3);
}

th{
    font-size: 1.4vw;
}

td{
    font-size: 1.4vw;
}

#podium{
    display: block;
    height: 20vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
}
#back {
    background-color: #11294b;
    border: 0.3vw #0028ff solid;
    border-radius: 1.5vw;
    padding: 1vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: rounded, serif;
    font-size: 1.5vw;
    top:18.5%;
    margin-left: 3vw;
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#back:hover{
    background-color: #0028ff;
    border-color: #0028ff;
    cursor: pointer;
}
#arrow-light{
    display: inline-block;
    width: 1.5vw;
    vertical-align: text-bottom;
    filter: invert(100%);
}
.align-left{
    position:absolute;
}
#wrapper {
    text-align:left;
}

.align-center{
    text-align: center;
}