body {
	color:#EBEBEB;
	background-color:#2F3136;
}

.Menu {
	border-color: whitesmoke;
}


.preTxt a {
	color:#EBEBEB;
	text-decoration: none;
}

.butheme {
	text-decoration: none;
	color: black;
	background-color: whitesmoke;
	border : 2px white solid;
	border-radius: 100px;
	padding: 5px;
}

