@font-face {
  font-family: "Ezcriture";
  src: url("../font/rounded.ttf") format("truetype");
}

.logo img{
    width: auto;
    height: 7vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
}

.titre {
  margin-left: 5vw;
  font-size: 2.6vw;
  font-family: Ezcriture;
  text-align: center;
  margin-top: -1.5vw;
}


.connected login a img{
  width: auto;
  height: 6vw;
  margin-top: 1vw;
  filter: invert(63%) sepia(20%) saturate(1569%) hue-rotate(79deg) brightness(89%) contrast(82%);
}



.connected{
  display: grid;
  grid-template-columns: 9vw 73vw 10vw 9vw;
  grid-template-rows: 8vw;
  background: mistyrose;
}