@font-face {
  font-family: "Ezcriture";
  src: url("../font/rounded.ttf") format("truetype");
}

.logo img{
    width: auto;
    height: 5vw;
    margin-top: 0.5vw;
    margin-left: 1vw;
}

.titre {
  font-size: 2vw;
  font-family: Ezcriture, monospace;
  text-align: center;
  padding-top: 1.6vw;
}


.connexion .login a img{
  width: auto;
  height: 4vw;
  margin-top: 1vw;
  filter: invert(63%) sepia(20%) saturate(1569%) hue-rotate(79deg) brightness(89%) contrast(82%);
}

.connexion .setting a img{
  width: auto;
  height: 4vw;
  margin-top: 1vw;
  filter: invert(23%) sepia(76%) saturate(6722%) hue-rotate(356deg) brightness(94%) contrast(127%);
}


.connexion{
  display: grid;
  grid-template-columns: 7vw 82vw 6vw 6vw;
  grid-template-rows: 6vw;
  box-shadow: 0 -1vw 1.3vw 0.3vw rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 -1vw 1.3vw 0.3vw rgba(0,0,0,0.75);
  -moz-box-shadow: 0 -1vw 1.3vw 0.3vw rgba(0,0,0,0.75);
  overflow: hidden;
}

