/*Reset CSS*/
* {
	margin: 0px;
	padding: 0px;
}

/*Variables*/
:root {
	--backcolor: #E8E9E4;
	--txtcolor: #161C1C;
}

* {
	color: var(--txtcolor);
	background-color: var(--backcolor);
}

@font-face {
	font-family: "Ezcriture";
	src: url("../font/rounded.ttf") format("truetype");
}

.menu {
	display: grid;
	grid-template-columns: 40vw 45vw 10vw;
	grid-template-rows: 100%;
    padding: 1vw 0vw;
	background-color: midnightblue;
	border-bottom: solid;
	border-color: #484848;
}

.login {
	grid-column: 3;
	padding: 1vw 2.5vw;
}

.menu a {
	font-size: 2.3vw;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.7vw;
	background-color: midnightblue;
	color: #E8E9E4;
}

.gamemode {
	display: block;
	text-align: center;
	text-decoration: none;
	font-family: Ezcriture;
	font-size: 2vw;
	color: black;
	background-color: #CFBB97;
	border : 2px goldenrod solid;
	border-radius: 100px;
	padding: 1.3vw;
	margin: 0.5vw 37vw;
}

.gamemode:hover {
	font-size: 2.5vw;
	padding: 1.15vw;
	margin: 0.35vw 35vw;
	background-color: goldenrod;
}