/*Reset CSS*/
* {
	margin: 0px;
	padding: 0px;
}

/*Variables*/
:root {
	--backcolor: #E8E9E4;
	--txtcolor: #161C1C;
}

* {
	color: var(--txtcolor);
	background-color: var(--backcolor);
}
	
a.gamemode {
	text-align: center;
	text-decoration: none;
}