.gamemode{
    float: left;
    text-align: center;
    text-decoration: inherit;
    font-family: Ezcriture,Serif;
    font-size: 2.4vw;
    color:black;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    border-radius: 0.5vw;
    width: 49.5%;
    height: 61vh;
    padding-top: 10vw;
    padding-bottom: 0.5vw;

}
.button {
    padding: 2vh 2vh;
    display: block;
    grid-template-rows: 8vw 8vw;
    align-items: center;
    justify-items: center;
    gap: 1vw;
}
.gamemode2{
    float: right;
    text-align: center;
    text-decoration: inherit;
    font-family: Ezcriture,Serif;
    font-size: 2.4vw;
    color:black;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    border-radius: 0.5vw;
    width: 49.5%;
    height: 61vh;
    padding-top: 10vw;
    padding-bottom: 0.5vw;
}

img {
    display: block;
    position: relative;
    height: 20vw;
    width: auto;
    text-align: center;
    user-select: none;
    margin-top: 2.9vw;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#clock {
    margin-top:0.3vw;
    height: 21vw;
}