@font-face {
    font-family: 'asa';
    src: url('../font/almostseriousaccent.ttf') format('truetype');
}

tr{
    text-align: center;
}
td {
    text-align: center;

}
th{
    text-align: center;
    padding: 0 1vw ;
    background: #F0E8DA;
}
.active{font-weight: bold}
.rank1{color:gold}
.rank2{color: silver;}
.rank3{color: orange}
div h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
    padding-top: 1vw;
    font-family: asa, serif;
}
h4{text-align: center;
    font-size: 1.5vw;
    font-family: asa, serif;
}
table, th, td{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border-radius: 2vw 2vw 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    font-family: asa, serif;
}

th{
    font-size: 1.4vw;
}

td{
    font-size: 1.4vw;
}

#podium{
    display: block;
    height: 20vw;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
}
#back {
    background-color: #eed6b4;
    border: 0.3vw gold solid;
    border-radius: 1.5vw;
    padding: 1vw;
    text-decoration: none;
    color: black;
    font-family: rounded, serif;
    font-size: 1.5vw;
    top:18.5%;
    margin-left: 1vw;
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#back:hover{
    background-color: gold;
    border-color: gold;
    cursor: pointer;
}
#arrow-light{
    display: inline-block;
    width: 1.5vw;
    vertical-align: text-bottom;
}
.align-left{
    position:absolute;
}
#wrapper {
    text-align:left;
}

.align-center{
    text-align: center;
}