tr{
    text-align: center;
    background: #5FACD3;
}
td {
    text-align: center;

}
th{
    text-align: center;
    padding: 0vw 1vw ;
    background: #F0E8DA;
}
.active{font-weight: bold}
.rank1{color:gold}
.rank2{color: silver;}
.rank3{color: orange}
h1{text-align: center}
table, th, td{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 60%;
    border-radius: 2vw 2vw 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
}
tr:nth-child(even){
    background-color: #479ECD;
}



